<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Valet.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Valet.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <Valet.Settings>
            <setting name="UserName" serializeAs="String">
                <value>Scott</value>
            </setting>
            <setting name="PostalCode" serializeAs="String">
                <value>77001</value>
            </setting>
            <setting name="CountryCode" serializeAs="String">
                <value>us</value>
            </setting>
            <setting name="TemperatureUnit" serializeAs="String">
                <value>Farenheit</value>
            </setting>
            <setting name="VoiceName" serializeAs="String">
                <value>CereVoice Sarah - English (England)</value>
            </setting>
            <setting name="VoiceGender" serializeAs="String">
                <value>Female</value>
            </setting>
            <setting name="VoiceRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VoiceVolume" serializeAs="String">
                <value>100</value>
            </setting>
        </Valet.Settings>
    </userSettings>
    <applicationSettings>
        <Valet.Application>
            <setting name="OWMAPIKey" serializeAs="String">
                <value>c40a25f272ac96166bacfd3a5fba978a</value>
            </setting>
        </Valet.Application>
    </applicationSettings>
</configuration>